<!doctype html>
<html lang="en" ng-app="app">
<head>
		<meta charset="UTF-8">
		<title>Form Demo</title>
		<style>
		.ng-invalid.ng-dirty{color: red;}
		.ng-required.ng-dirty{color: red;}
		</style>
   
</head>
<body>

<div ng-app='app'>

 <div ng-controller='appTable'>
 
 <div class="mui-container" ng-show="!submitted">
      <div class="mui-panel">
    
    <form name="frm" ng-submit="userSubmit()" class="mui-form" ng-show="!submitted">
	 <legend>Beyond Portal Signup</legend>
		<div class="mui-textfield">
			<label for="">Firstname</label>
			<input type="text" name="name" ng-model="user.name" placeholder="John" required />
			<span ng-show="frm.name.$dirty && frm.name.$error.required">Required field</span>
		</div>	
		<div class="mui-textfield">
			<label for="">Surname</label>
			<input type="text" name="surname" ng-model="user.surname" placeholder="Doe" required />
			<span ng-show="frm.surname.$dirty && frm.surname.$error.required">Required field</span>
		</div>	
	
		<div class="mui-textfield">
			<label for="">Email</label>
			<input type="email" name="email" ng-model="user.email" required />
			<span ng-show="frm.email.$dirty && frm.email.$error.required">Required field</span>
			<span ng-show="frm.email.$dirty && frm.email.$error.email">Not a valid email</span>
		</div>	
		<div class="mui-textfield">
			<label for="">Repeat Email</label>
			<input type="email" name="email2" ng-model="user.email2" required />
			<span ng-show="frm.email2.$dirty && frm.email2.$error.required">Required field</span>
			<span ng-show="frm.email2.$dirty && frm.email2.$error.email">Not a valid email</span>
			<span ng-show="frm.email2.$dirty && !frm.email2.$error.email && user.email != user.email2">Repeat email is different</span>

		</div>	
	

		<div class="mui-textfield">
			<label for="">Gender</label>
			<input type="text" name="gender" ng-model="user.gender" placeholder="F" ng-maxlength="1" />
			<span ng-show="frm.email2.$dirty && user.gender!='M' && user.gender!='F' && user.gender!='O'">Please enter F, M or O(ther)</span>

		</div>	


		<div class="mui-textfield">
			<label for="">Country </label>
			<select name="country" ng-model="user.country">
				<option value="">Select Country</option>
				<option ng:repeat="country in chooseCountries" value="{{country.name}}">{{country.name}}</option>
			</select>  

		</div>	


		<div class="mui-textfield">
			<label for="">Date of Birth</label>
		</div>	
		<div class="mui-textfield">
			<label for="">Month</label>
			<input type="number" min="1" max="12" ngMax="12" name="month" ng-model="user.month" ng-maxlength="2" placeholder="8" length="2" required />
			<span ng-show="frm.month.$dirty && frm.month.$error.required">Required field</span>
			<span ng-show="frm.month.$dirty && frm.month.$error.number">Not a valid number</span>
		</div>
		<div class="mui-textfield">
			<label for="">Day</label>
			<input type="number" min="1" max="31" name="day" ng-model="user.day" ng-maxlength="2" placeholder="25" required />
			<span ng-show="frm.day.$dirty && frm.day.$error.required">Required field</span>
			<span ng-show="frm.day.$dirty && frm.day.$error.number">Not a valid number</span>
		</div>
		<div class="mui-textfield">
			<label for="">Year</label>
			<input type="number" min="1" max="2200" name="year" ng-model="user.year" ng-maxlength="4" placeholder="1980" required />
			<span ng-show="frm.year.$dirty && frm.year.$error.required">Required field</span>
			<span ng-show="frm.year.$dirty && frm.year.$error.number">Not a valid number</span>
		</div>	
		<div class="mui-textfield">
		</div>	


		<div class="mui-textfield">
			<label for="">Company Name</label>
			<input type="text" name="company" ng-model="user.company" placeholder="ABC, INC" />
		</div>	

		<div class="mui-textfield">
			<label for="">Industry</label>
			<input type="text" name="industry" ng-model="user.industry" placeholder="Technology" />
		</div>	


		<div class="mui-textfield">
			<textarea name="aboutme" placeholder="About me..." ng-model="user.aboutme" ng-maxlength="255"></textarea>
			 <span ng-show="frm.aboutme.$dirty && frm.aboutme.$error.maxlength">Too long</span>
		</div>

		<div class="mui-checkbox">
    		<label>
      		<input type="checkbox" ng-model="string" name="newsletter" ng-model="user.newsletter" value="true" checked>
      			Newsletter Opt in
    		</label>
  		</div>

		<div class="mui-checkbox">
    		<label>
      		<input type="checkbox" name="privacy" ng-model="user.privacy" value="true">
      			Privacy Opt In
    		</label>
  		</div>

		<div class="mui-checkbox">
    		<label>
      		<input type="checkbox" name="terms" ng-model="user.terms" value="true" required>
      			Agree to terms and conditions
    		</label>
  			<span ng-show="frm.terms.$error.required">(Required field)</span>
		</div>

		<button ng-disabled="frm.$invalid" class="mui-btn mui-btn--primary mui-btn--raised">Submit</button>
	

	</form>

 </div>
</div> <!--container-->


  
    <div class="mui-container" ng-show="submitted">
      	<div class="mui-panel" >
        	<h1>Thanks {{user.name}}</h1>

		</div>
  	</div>




    <div class="mui-container" ng-show="submitted">
      <div class="mui-panel">
        <h1>Tickets</h1>

		   <table class="mui-table">
		   	<thead>
		   		<th>CaseID</th>
		   		<th>Name</th>
		   		<th>Surname</th>
		   		<th>Gender</th>
		   	</thead>
		      <tbody>
		        <tr ng-repeat="item in rows">
		         <td>{{item.fibsequence}}</td>
		         <td>{{item.name}}</td>
		         <td>{{item.surname}}</td>
		         <td>{{item.gender}}</td>
		        </tr>
		      </tbody>
		    </table>
		
    	
    	</div>
  	</div>


  	</div> <!-- controller -->

  	<!-- load Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
 
    <!-- load MUI -->
    <link href="http://cdn.muicss.com/mui-0.9.36/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.muicss.com/mui-0.9.36/angular/mui-angular.min.js"></script>

	<link href="http://cdn.muicss.com/mui-0.9.36/extra/mui-colors.css" rel="stylesheet" type="text/css" />
	<link href="http://cdn.muicss.com/mui-0.9.36/extra/mui-colors.min.css" rel="stylesheet" type="text/css" />

 
	<script>
		// Sample Fibonnaci numbers 
		function Fibonacci()
			{
				this.looping = function(num) {
					var a = 1, b = 1, fib = 1;
					for (var i = 2; i <= num; i++) {
						fib = a + b;
						a = b;
						b = fib;
					}
					return fib;
				}
			}


	
	angular.module('app', []);

	angular.module('app').controller('appTable', AppTable);


	function AppTable($scope) {
		$scope.rows = [];

	    $scope.chooseCountries=[
	        {countryId : 1, name : "United States"},
	        {countryId : 2, name : "United Kingdom"},
	        {countryId : 3, name : "Other"}
	    ];

    
	  	$scope.userSubmit = function(){
	 		
	 		$scope.submitted = true;

	 		var fib = new Fibonacci();
	 		var fibSequence = "";
	 		for (var i = 0; i <= 10; i++) {
	 			fibSequence += fib.looping(i) + "";
			}
	 		console.log(fibSequence);
	 		$scope.fibSequence = fibSequence;

	 		$scope.rows.push({
                fibsequence: fibSequence,
                name: $scope.user.name,
                surname: $scope.user.surname,
                gender: $scope.user.gender
            });

	 		//alert("Rows: " + JSON.stringify($scope.rows));
		}

	}


	</script>
	</body>
	</html>

